<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:File.path" value="logs\log.txt" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
  </appSettings>
</configuration>
